<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4 .sidebar-no-expand position-fixed h-100 overflow-auto">
    <!-- Brand Logo -->
    <a href="/" class="brand-link pl-4">
        <img class="brand-image-xl logo-xs" src="/picture/logo.png" alt="logo">
        <span class="brand-text font-weight-light">
            NetyParneo            
        </span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
                <!-- Add icons to the links using the .nav-icon class
                                                                                                                     with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="/entreprise" class="nav-link">
                        <i class="ti ti-building-factory-2"></i>
                        <p>
                            Entreprise                                                                                           
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/sites" class="nav-link">
                        <i class="ti ti-building-factory"></i>
                        <p>
                            Sites                                                                                           
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/laboratoire" class="nav-link">
                        <i class="ti ti-flask"></i>
                        <p>
                            Laboratoire                                                           
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/students" class="nav-link">
                        <i class="ti ti-school"></i>
                        <p>
                            Etudiant                                                           
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/employe" class="nav-link">
                        <i class="ti ti-users"></i>
                        <p>
                            Employe                                                           
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/contratVacataire" class="nav-link">
                        <i class="ti ti-file-description"></i>
                        <p>
                            Contrats de vacation
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon ti ti-database-export"></i>
                        <p>Vues</p>
                        <i class="right ti ti-arrow-big-left"></i>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/vue/entpCourrier" class="nav-link">
                                <i class="ti ti-circle"></i>
                                <p>
                                    VueEntpCourrier
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/vue/entpsBlocked"class="nav-link">
                                <i class="ti ti-circle"></i>
                                <p>
                                    VueEntpBlocked
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/vue/vacMds" class="nav-link">
                                <i class="ti ti-circle"></i>
                                <p>
                                    VueVacMds
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/vue/vacMdsCurrent" class="nav-link">
                                <i class="ti ti-circle"></i>
                                <p>
                                    VueVacMdsCurrent
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/vue/laboContrat" class="nav-link">
                                <i class="ti ti-circle"></i>
                                <p>
                                    VueLaboContrat
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/vue/mds" class="nav-link">
                                <i class="ti ti-circle"></i>
                                <p>
                                    VueMds
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/vue/vacataire" class="nav-link">
                                <i class="ti ti-circle"></i>
                                <p>
                                    VueVacataire
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/vue/alternant" class="nav-link">
                                <i class="ti ti-circle"></i>
                                <p>
                                    VueAlternant
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/vue/stagiaire" class="nav-link">
                                <i class="ti ti-circle"></i>
                                <p>
                                    VueStagiare
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/vue/etudiant" class="nav-link">
                                <i class="ti ti-circle"></i>
                                <p>
                                    VueEtudiant
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/vue/conflict" class="nav-link">
                                <i class="ti ti-circle"></i>
                                <p>
                                    VueConflict
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/vue/yearStatEntps" class="nav-link">
                                <i class="ti ti-circle"></i>
                                <p>
                                    VueYearStatEntps
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/vue/conflitEtudiant" class="nav-link">
                                <i class="ti ti-circle"></i>
                                <p>
                                    VueConflitEtudiant
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/vue/conflitEtudiant2" class="nav-link">
                                <i class="ti ti-circle"></i>
                                <p>
                                    VueConflitEtudiant2
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/vue/mdsNote" class="nav-link">
                                <i class="ti ti-circle"></i>
                                <p>
                                    VueMdsNote
                                </p>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>
</aside>
<!-- /.sidebar-menu -->
<!-- /.sidebar -->

<script>
/*$(document).ready(function(){
    $('#sqlviews').on('click', function () {
        var tree = $('#treeviews');
        $(this).toggleClass('menu-open');
        tree.toggleClass('d-none');
        tree.toggleClass('d-block');
    });
});
</script>
