<h1>Les sièges des entreprises partenaires</h1>
<table class="table">
    <thead>
    <tr>
        <th>Nom</th>
        <th colspan="3">Siege</th>
    </tr>
    </thead>
    {% for entreprise in entreprises %}
        <tr>
            <td>{{ entreprise['nom'] }}</td>
            <td>{{ entreprise['pays_siege'] }}</td>
            <td>{{ entreprise['ville_siege'] }}</td>
            <td>{{ entreprise['adresse_siege'] }}</td>
        </tr>
    {% endfor %}
</table>