{% extends "template.twig" %}
{% block title %}Etudiants{% endblock %}
{% block content %}
    <h2>Contrats étudiants</h2>
    <table>
        <thead>
            <th></th>
        </thead>
    </table>
{% endblock %}